.conteprincipas{
    background-image: url("../../../assets/images/5/appetizer-bowls-cuisine-1640770.jpg");
    width: 100%;
    min-height: 100%;
    height: auto;
    background-size: cover ;
     background-position: center ;
}

.tablaAlimentos{
    border:none;
    width: 100%;
    font-size: 20px;
    background: rgba(255, 255, 255,0.7)
}

.tablaAlimentos::content th{
    background-color: #F59A23;
    font-family: Arial Rounded MT;
    font-size: 18px;
    color: white;
    height:60px;
}

.tablaAlimentos::content td{
    text-align: center;
    height:40px;
  
}


.tablaIbfo{
    border:none;
    width: 80%;
    font-size: 15px;
   
}

.tablaIbfo::content th{
    background-color: #555555;
    font-family: Arial ;
    border: 1px solid white;
    color: white;
    //height:50px;
}


.tablaIbfo::content td{
    text-align: center;
    background-color: black;
    color: white;
    height:50px;
    border: 1px solid white;
}

.contenedorTablaInfo{
    position:absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: rgba($color:grey, $alpha: 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}


.conteimagen{
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteimagen::content img{
    width: 100%;
}

.conteimagen::content h2{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    background: rgba($color: #EE82EE, $alpha: 0.8);
    padding: 10px;
    color: white;
    border-radius: 10px;
}