<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
         <ion-back-button defaultHref="/menu/cont1"></ion-back-button>
      </ion-buttons>
    <ion-title>alimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteprincipas">

   
    <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
        <ion-fab-button (click)="iramodal()">
            <ion-icon name="help" ></ion-icon>
            
        </ion-fab-button>          
    </ion-fab>
    <div class="conteimagen">
        <h2>{{alimento}}</h2>
        <img src="{{urlImagen}}">
    </div>
    <table class="tablaAlimentos">
        <tr>
            <th>  Comestible</th>
            <th>calorias</th> 
            <th>Cantidad</th>
        </tr>


        <tr>
            <td>manzana</td>
            <td>2</td> 
            <td>3</td>
        </tr>

        <tr>
            <td>manzana</td>
            <td>2</td> 
            <td>3</td>
        </tr>

        <tr>
            <td>manzana</td>
            <td>2</td> 
            <td>3</td>
        </tr>

        <tr>
            <td>manzana</td>
            <td>2</td> 
            <td>3</td>
        </tr>
        <tr>
            <td>manzana</td>
            <td>2</td> 
            <td>3</td>
        </tr>
          
    </table>


    


    

    
</div> 

    
</ion-content>
