<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--button  routerLink="/menu/cont1/saltos/alimentos">lllllllllllllll</button-->

  <div class="contedorDeTodo">
    <h1 style="text-align: left; width: 90%;"> Dieta actual</h1>

    <div class="alimeto"  routerLink="/menu/cont1/saltos/alimentos">
     <h2>1 alimentos</h2>
    </div>
    
    <div class="alimeto"  routerLink="/menu/cont1/saltos/alimentos">
      <h2>2 alimentos</h2>
    </div>

    <div class="alimeto"  routerLink="/menu/cont1/saltos/alimentos">
      <h2>3 alimentos</h2>
    </div>
    <div class="alimeto"  routerLink="/menu/cont1/saltos/alimentos">
      <h2>4 alimentos</h2>
    </div>
    <div class="alimeto"  routerLink="/menu/cont1/saltos/alimentos">
      <h2>5 alimentos</h2>
    </div>

  </div>
</ion-content>
