
<ion-header>
  <ion-toolbar color="secondary">
     
    <ion-title>Nutr-IA</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content >
 <div class="contenedor1">
    <div class="imagenCoporativa">
      <h1>Imagen corporativa</h1>
    </div>

    <form class="formulario" [formGroup]="lisformgoup">
        <ion-item class="item espacios">
          <ion-input  formControlName="correo" type="text" placeholder="Correo"></ion-input><br>
          <span *ngIf="lisformgoup.get('correo').touched && lisformgoup.get('correo').hasError('required')" style="font-size: 13px; color:red;" >Campo requrido</span>
      
        </ion-item>
        <ion-item class="item espacios">
          <ion-input  formControlName="password" type="password"  placeholder="Contraseña"></ion-input><br>
          <span *ngIf="lisformgoup.get('password').touched && lisformgoup.get('password').hasError('required')" style="font-size: 13px; color:red;" >Campo requrido</span>
      
        </ion-item>
    
            <button class="boton"  (click)="ir()" [disabled]="lisformgoup.invalid">Aceptar</button>
       
      
    
    
      </form>

 </div> 
  

</ion-content>
