
<ion-header>
  <ion-toolbar color="secondary">
     
    <ion-title>Nutr-IA</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content >
 <div class="contenedor1">
    <div class="imagenCoporativa">
      <h1>Imagen corporativa</h1>
    </div>

    <form class="formulario">
        <ion-item class="item espacios">
          <ion-input type="text" placeholder="Correo"></ion-input><br>
        </ion-item>
        <ion-item class="item espacios">
          <ion-input type="password"  placeholder="Contraseña"></ion-input><br>
        </ion-item>
    
            <button class="boton"  routerLink="/menu/cont1">Aceptar</button>
       
      
    
    
      </form>

 </div> 
  

</ion-content>
