<ion-header>
 
      <ion-toolbar >
          <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
        <ion-title>historial</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>

<div class="contAll">
    
    
    
      <div class="conttabla">
         <table class="tablaHistoria">
            <tr >
                <th>Dieta</th> <th>Fecha</th> <th>peso</th> <th>avance</th>
            </tr>
              
            <tr>
              <td class="idMes">1</td> <td>25/05/2079</td> <td>89 Kl</td> <td>0</td>
            </tr>
            <tr>
                <td class="idMes">2</td> <td>25/06/2079</td> <td>80 Kl</td> <td>-9 kl</td>
            </tr>
            <tr>
                <td class="idMes">3</td> <td>25/07/2079</td> <td>77 Kl</td> <td>-3 kl</td>
            </tr>
          </table>
      </div>
     


      <div class="contPeso">
          <h3 >Peso actual:</h3>
          <h1> 77 KL</h1> 
      </div>
  </div>
</ion-content>
