.contAll{
    
    top: 0px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-image: url('../../../assets/images/belly-black-and-white-black-and-white-42069.jpg');
    background-size: cover;
    background-position: center;
}

.contPeso{
    width:100%;
    background-color:transparent;
    text-align: center;
    height:20%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.contPeso::content h3{
    width: 100%;
    
}

.contPeso::content h1{
    background-color: #00BFBF;
    color: white;
    width: 250px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.conttabla{
    background-color:rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 75%;
    overflow-y: scroll;
    
}

.tablaHistoria{
    width: 100%;
    font-size: 20px;
}

.tablaHistoria::content td{
    text-align: center;
    border:none;
    padding: 10px;
}

.tablaHistoria::content th{
    text-align: center;
    background-color: #00BFBF;
    color: white;
    font-family: Arial Rounded MT;
    padding: 10px;
}
.idMes{
    background-color: #00BFBF;
    color: white;
}


